body{
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/e89c9679-2f5f-491d-924c-c58924a8ee4b/8ec27a1d-02ce-4489-b320-a95106906f5d/IN-en-20221121-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color:white;
}nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
} nav .img img{
    width: 17%;
    margin-top: -18px;

} nav .btn{
    display: flex;

}.btn .sign{
    background-color: red;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 43px;
} .btn .register{
    background-color: red;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 43px;
}
.btn .sign{
    margin-inline: 5px;
}.btn .register{
    margin-inline: 5px;
}.main {
    text-align: center;
    text-shadow: 2px 2px 4px black;
} .main h1{
    font-size: 60px;
    margin-block-start: 2em;
}.main h2{
    font-size: 44px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}.main p{
    font-size: 22px;
}.text{
    top: 220px;
    position: relative;
}